nav {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .logo {
        height: 50px;
        width: 110px;
        background-image: url("../images/Panera-Bread-logo.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    a {
        color: #000;
        text-decoration: none;
        letter-spacing: .8px;
    }

}

